body{
	margin: 0;
}

/*start Nav Bar*/
.navbar{
	border-radius: 0px;
	background-color: black;
	border-color: black;
	margin: 0;
	height: 80px;
}
.navbar img{
	border-radius:50px;
	margin: 10px;
}
.navbar-header {
	width: 100%;
}
.navbar-header span{
	float: right;
	margin: 20px;
	font-size:25px;
	cursor:pointer;
	color: white;
	font-family: 'Amaranth', sans-serif;
  font-weight: 600;
}
.navbar-right{
	margin-top: 25px;
}
.nav-link a{
	color: black;
	font-size: 17px;
	font-family: 'Amaranth', sans-serif;
	
}
.navbar-default .navbar-nav>li>a , .navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.nav-link>li {
    font-size: 15px;
    font-weight: 700;
    font-family: monospace;

}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 111;
    transition: 1.5s ease-in-out;
    top: 0;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    /*background-color: rgba(0,0,0, 0.9);*/
    overflow-y: hidden;
    transition: 0.5s;
    font-family: 'Amaranth', sans-serif;
     z-index: 1111;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
   
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}
/*End Nav Bar*/

/*start cover-about*/
.cover-about{
	margin-top: -20px;
    background-color: #F5F5F5;
}
.wrapper {
  margin:10px auto;
  width: 200px;
  padding-top:15px;
}

.shaper {
  position: relative; 
  height: 0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 79%;  
  margin: 0 auto;
  z-index: 99;
  }
 .shaper p{
    margin: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Amaranth', sans-serif;
  }
  .scaling-svg {
	  position: absolute; 
	  height: 100%; 
	  width: 100%; 
	  left: 0; 
	  top:0;
	  z-index: -10;
}
.defs-only {
  width: 0;
  height: 0;
  dispplay: none;
}
.breadcrumb {
	font-size: 20px;
	font-weight: 900;
	font-family: 'Amaranth', sans-serif;
	margin-top: -15px;
	padding-bottom: 15px;
}
.breadcrumb li a{
	color: black;
	text-decoration: none;
}
.breadcrumb>.active{
	color: #7F0000;
} 
/*end cover-about*/

.map{
	margin-bottom: 2em;
}
.map h1{
	font-family: 'Amaranth', sans-serif;
	color: black;
	font-weight: 900;
	letter-spacing: -1px;
	margin-bottom: 1em;
}
.contact-info__item{
	margin-bottom: 20px;
  margin-left: 5em;
}
.contact-info__item h5{
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	color: black;
	margin-bottom: 0px;
}
.contact-info__item p{
	font-family: 'Amaranth', sans-serif;
}

.icon-contactus i{
    font-size: 25px;
    border-radius: 50%;
    padding: 12px;
    background: black;
    color: white;
  }

.form-control , .txtarea{
	border-radius: 0px ; 
	border: 1px #f8f8f8;
	padding: 23px 20px;
	margin-bottom: 20px;
	line-height: 1.25;
	background-color: #f8f8f8;
	font-family: 'Amaranth', sans-serif;
}

textarea.form-control {
	resize: none;
    height: 180px;

}
.au-btn--solid, .swal-button{
	  background: #202020;
    color: #fff;
    border: none;
    line-height: 45px;
    font-family: 'Amaranth', sans-serif;
    padding: 0 23px;
    margin-bottom: 20px;
}


/*start footer*/
footer{
	background-color: black;
	padding: 18px;
}

.footer-cont img{
  border-radius: 50px;
}
.copyright {
	color: white;
	font-family: 'Amaranth', sans-serif;
	font-size: 15px;
	padding: 5px;
}
.copyright span , .copyright a{
  color: #D4AF37;
  text-decoration: none;
}

/*end footer*/